body {
    background-image: url(../images/3suns.jpg);
    background-size: 100%;
}


.mainBox {
    border-radius: 10%;
    background-color: #484743;
    border: 3px solid;
    color: white;
    border: #343233 solid 5px;
}

#selfie {
    border-radius: 10%;
}

p {
    font-family: 'Roboto Mono', monospace;
}

a {
    font-family: 'Major Mono Display', monospace;
  
    
}

.navbar {
    background-color: #484743 !important;
}

.nav-item {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}