body {
    background-image: url(../images/3suns.jpg);
    background-size: 100%;
}


.mainBox {
    border-radius: 10%;
    background-color: #e5e5e3;
    border: 3px solid;
}

#selfie {
    border-radius: 30%;
}
