body {
    background-image: url(../images/3suns.jpg);
    background-size: 100%;
}


.mainBox {
    border-radius: 10%;
    background-color: #484743;
    border: 3px solid;
    color: white;
    border: #343233 solid 5px;
}

#selfie {
    border-radius: 10%;
}

p {
  
    font-family: 'B612 Mono', monospace;
}

a {
   font-family: 'B612 Mono', monospace;
   
    
}

h1 {
    font-family: 'Comfortaa', cursive;
}

.navbar {
    background-color: #484743 !important;
}


#topName {
    color: #ed9c0a;
}

#portfolio1 {
    color: #9dc2fe;
}

#contact1 {
    color:  #76d5c1;
}

.btn {
    background-color: #484743;
    border: #343233 solid 2px;
}

.card-body {
    background-color: #b8b8ba;
    border: none;
}

.button-bl {
    color: #9dc2fe;
}

.button-gr {
    color: #76d5c1;
}

.button-og {
    color: #ed9c0a;
}